* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    --font1: "Poppins";
    --font2: "JetBrains Mono";
    --blue: #0071FF;
    --dwhite: rgb(213, 222, 228);
    --black: #080a08;

}
html, body {
    height : 100vh; 
    width: 100vw;
    background-color: var(--black);
    color: white;
    overflow-x: hidden;
    /* font-family: "Poppins"; */
}

/* @media (max-width:768px) {
    body {
        overflow-x: auto;
    }
} */
/* header {
    width: 100%;
    height: 1rem;
    padding: 1rem;
    background-color: var(--black);
} */

/* 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

nav {
    /* width: 80%; */
    width: 100%;
    height: 1rem;
    padding: 2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo a .logo-icon {
    color: var(--blue);
    margin-right: 0.5rem;
}

.logo a .logo-text {
    color: white;
    font-family: var(--font1);
    font-weight: 600;
    font-size: 1.5rem;
    
}

nav .nav-bars {
    list-style: none;
    display: none;
    align-items: center;
    gap: 1rem;
    color: var(--dwhite);
    font-family: var(--font1);
    font-size: small;
    font-weight:500 ;
    
}

.nav-bars li {
    position: relative; /* This makes the li a reference for the absolute positioned ::before */
    display: inline-block;
    font-size: 0.95rem;
}

.nav-bars li:hover {
    transform: scale(1.1);
    color: var(--blue);
}

.nav-bars li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    height: 2px;
    width: 0;
    transition: width 0.3s ease;

}

.nav-bars li:hover::before {
    width: 100%;
}

/* .contact button{
    background-color: var(--blue);
    border-radius: 3px;
    border: 0px;
    padding: 0.15rem 0.3rem;
    color: white;
    font-weight: 400;
    font-family: var(--font1);
    
} */

/* From Uiverse.io by Gautammsharma */ 
.contact button{
    display: inline-block;
    padding: 0.15rem 0.3rem;
    /* font-size: 24px; */
    font-family: var(--font1);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--blue);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #fff;
    color: var(--blue);
    border: 2px solid var(--blue);
    box-shadow: 5px 5px 0px var(--blue);
  }
  
  .contact button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  

nav .sidebar{
    list-style: none;
}

nav .sidebar li {
    width: 100%; /* Full width of the sidebar */
    padding: 1rem; /* Adjust padding for spacing */
    text-align: left; /* Align text to the left */
    box-sizing:border-box; /* Ensure padding doesn't affect width */
}

nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 31vh;
    z-index: 999;
    background-color: var(--black);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display:none;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
    font-family: var(--font1);
    font-weight:500 ;
    color: var(--dwhite);
    transition: background-color 0.3s ease;

}

nav .sidebar li:hover {
    background-color: var(--blue); /* Hover effect background */
    color: white; /* Text color change on hover */
    width: 100%; /* Full width background on hover */
}

nav .contact .nav-icon {
    display: block;
        color: white;
    text-decoration: none;
}


@media (min-width: 768px) {
    nav .contact .nav-icon {
        display: none;

    }

    nav .nav-bars {
        display: flex;
    }
}

@media (max-width: 768px) {
    nav {
        /* width: 80%; */
        width: 100%;
        height: 1rem;
        padding: 2rem 5rem;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav .nav-bars.hideOnMobile {
        display: none;
    }

    .contact button {
        display: none;
    }

    /* Keep the nav-icon (hamburger menu) visible */
    .contact .nav-icon {
        display: block;
    }
}

/* .contact button:hover {} */

main {
    /* width: 70%; */
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding-left: 17%;
   /* padding-right: 10%; */
}

main .web-desc {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

main .web-desc .text-area {
    width: 65%;
    
}

main .web-desc .text-area .text-line {
    margin-top: 2rem;
}

main .main-img img{
    width: 60%;
    height: 60%;
    object-fit:cover;
    border-radius: 2px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.web-desc .text-area #h1 {
    font-size: 0.7rem;
    color: var(--blue);
    font-family: var(--font1);
    font-weight: 500;
}

.web-desc .text-area #h2 {
    margin-top: 1rem;
    font-size: 2rem;
    color: white;
    font-family: var(--font1);
    font-weight: 700;
}

.web-desc .text-area #h2 span {
    font-family: var(--font2);
}

.web-desc .text-area #h2 span:hover {
    color: #0071FF;
    /* transform: scale(1.1); */
}
.web-desc .text-area #h3 {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: var(--dwhite);
    font-family: var(--font1);
    font-weight: 400;
}

main .web-desc .buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem; /* This will create a 2rem gap between both buttons */
}

main .web-desc .buttons .b1 {
    background-color: var(--blue);
    border: none;
    border-radius: 2px;
    padding: 0.3rem;
    color: white;
    font-family: var(--font1);
    font-size: 0.8rem;
    font-weight: 600;
}

main .web-desc .buttons .b2 {
    background-color: var(--dwhite);
    border: none;
    border-radius: 2px;
    padding: 0.3rem;
    color: var(--black);
    font-family: var(--font1);
    font-size: 0.8rem;
    font-weight: 600;
}



@media (max-width: 768px) {

    .logo-icon {
        font-size: 1.5rem;
    }
    .logo a .logo-text {
        font-size: 1.5rem;
    }

    .nav-icon {
        width: 1.5rem;
    }
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        /* margin-right: 8rem;
        margin-left: 20rem; */
    }

    main .web-desc {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    main .main-img {
        display: flex;
        justify-content: center;
        width: 90vw;
    }

    main .web-desc .text-area {
        width: 90%;
        
    }

    
    main .main-img img{
        width: 90%;
        /* height: 60%; */
        object-fit:cover;
        border-radius: 2px;
    }

}

.container section {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container section .headline {
    font-size: 1.5rem;
    font-family: var(--font1);
    font-weight: 500;
    
}


.container section .company-container {
    margin-top: 1.5rem;
    padding: 1rem 1.3rem;
    border-radius: 0.2rem;
    display: flex;
    gap: 3rem;
    background-color: var(--dwhite);
}

.container section .company {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    font-family: var(--font1);
    color: grey;
}

.container section .company p {
    font-size: 0.8rem;
}

@media(max-width: 768px) {
    .container section {
        margin-top: 4rem; 

    }

    .container section .headline {
        font-size: 1rem;
    }
    .container section .company-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 40%;

    }
}

.feature-container {
    background-color: rgb(27, 26, 26);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 30rem;
}

.feature-container #title-heading {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font1);
    font-weight: 600;

}

.feature-container #title-desc {
    font-family: var(--font1);
    font-size: 0.7rem;
    columns: var(--dwhite);
    text-align: center;
    margin-top: 0.8rem;
}

.feature-container .cards-section .card {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font1);
    padding: 1rem;
}

.feature-container .cards-section .card .card-heading {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.feature-container .cards-section .card .card-desc {
    text-align: center;
    font-size: 0.7rem;
}

.feature-container .cards-section {
    margin-top: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

}

.feature-container .cards-section #card1{
    background-color: var(--blue);
}

.feature-container .cards-section #card2 {
    background-color: #ff6289;
}

.feature-container .cards-section #card3 {
    background-color: #fcbf58;
}
.feature-container .cards-section #card4 {
    background-color: #44bfc3;
}
.feature-container .cards-section #card5 {
    background-color: #77b05d;
}
.feature-container .cards-section #card6{
    background-color:  #7d78b1;
}


.feature-container .cards-section .card .card-icon {
    background-color: white;
    padding: 0.8rem;
    border-radius: 50%;
}

.feature-container .cards-section #card1 .card-icon{
    color: var(--blue);
}

.feature-container .cards-section #card2 .card-icon{
    color: #ff6289;
}
.feature-container .cards-section #card3 .card-icon{
    color: #fcbf58;
}
.feature-container .cards-section #card4 .card-icon{
    color: #44bfc3;
}
.feature-container .cards-section #card5 .card-icon{
    margin-top: -1rem;
    color: #77b05d;
}
.feature-container .cards-section #card6 .card-icon{
    color:  #7d78b1;
}

@media (max-width: 768px) {
    .feature-container {
        background-color: rgb(27, 26, 26);
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .feature-container .cards-section {
        margin-top: 1.5rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    
    .feature-container .cards-section #card5 {
        padding-top: 1.5rem;
        
    }

    .feature-container .title {
        width: 90%;
    }
}


.testimaonial-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    padding: 1.5rem 15rem;
}

.testimaonial-section .title {
    font-size: 1.5rem;
    font-weight: 500;
    
}

.testimaonial-section .test-cards {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
}

.testimaonial-section .ts {
    background: var(--black);
    padding: 0.8rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    transition: all 0.5s ease-in-out, box-shadow 0.3s ease;
}

.testimaonial-section .ts:hover {
    transform: scale(1.05);
    box-shadow: rgba(180, 180, 199, 0.2) 0px 7px 29px 0px;
    border: 1px solid var(--blue);
}

.testimaonial-section .ts .review {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.testimaonial-section .ts .img img {
    width: 3rem;
    border-radius: 50%;
}


.testimaonial-section .test-cards .ts .id .name {
    color: var(--blue);
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;

}

.testimaonial-section .test-cards .ts .id .post {
    color: var(--dwhite);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
}


@media (max-width: 768px) {
    .testimaonial-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem 0rem;
    }
    
    .testimaonial-section .test-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter {
    margin-top: 2rem;
    width: 90%;
    padding: 3rem;
    background-color: rgb(27, 26, 26);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.newsletter .main-img img {
    display: none;
    width: 28.2rem;
}

.newsletter .input-box {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}

.newsletter .input-box #l1{
    color: var(--blue);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 2.5rem;
}

.newsletter .input-box #l2 {
    color: var(--dwhite);
    font-family: var(--font1);
    font-size: 0.85rem;
}

.newsletter .email {
    display: flex;
    gap: 0.5rem;
}

.newsletter #email-box {
    border: none;
    padding: 0.23rem 0.5rem;
    font-family: var(--font1);
    font-weight: 500;
    border-radius: 2px;
    outline: none;
}

.newsletter #email-box:focus-within {
    border: none;
}

.newsletter button {
    background-color: var(--blue);
    padding: 0.23rem 0.5rem;
    font-family: var(--font1);
    color: white;
    border: none;
    border-radius: 2px;
}


.newsletter .input-box #l3 {
    margin-top: 1rem;
    color: var(--dwhite);
    font-family: var(--font1);
    font-size: 0.7rem;
}

.newsletter .input-box #l3 span a {
    color: var(--blue);
    font-size: 0.8rem;
    font-family: var(--font2);
}

@media (min-width: 770px) {

    .newsletter {
        width: 70%;
    }

    .newsletter .main-img {
        width: 50%;
    }
    .newsletter .main-img img {
        display: block;
        width:100%;
        /* height: 200%; */
    }

    .newsletter .input-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        padding: 0rem 2rem;
    }


}



.footer-container {
    margin-top: 4rem;

}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 15rem;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

footer .upside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
} 

footer .upside .left  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 7rem;
}

footer .upside .left .logo-text p{
    font-size: 1rem;
    font-family: var(--font1);
    color: white;

}

footer .upside .left #desc{
    font-size: 0.9rem;
    font-weight: 400;
    font-family: var(--font2);
    color: var(--dwhite);

}

footer .upside .left .social-icons {
    display: flex;
    gap: 1rem;
    color: var(--dwhite);
}


footer .upside .right {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    font-family: var(--font1);
}

footer .upside .right a{
    text-decoration: none;
}

footer .sec1, .sec2, .sec3, .sec4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
}

footer .upside .right  #head {
    font-size: 0.82rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white;

}

footer .upside .right .link {
    font-size: 0.81rem;
    
    font-weight: 300;
    color: var(--dwhite);
}


footer .line {
    margin-bottom: 2rem;
    width: 100%;
    padding-right: 60rem;
    padding-top: 0.01rem;
    color: var(--dwhite);
    /* background-color: grey; */
}

footer .downside {
    text-align: center;
    font-family: var(--font2);
    font-size: 0.8rem;
}


@media (max-width: 768px) {
    .footer-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .footer .upside {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem 0rem;
    }

    footer .line {
        padding-right: 35rem;
        
    }
}


@media (max-width: 440px) {
    nav {
        display: flex;
        padding: 2rem 1.5rem;
    }

    .container section .company-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 55%;
        padding: 1rem 1.3rem;
    }

    .footer .upside {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem 0rem;
    }


    footer .line {
        padding-right: 20rem;
        
    }


    footer .sec1 {
        margin-right: 10%;
    }
}
