* { margin: 0; padding: 0; box-sizing: border-box; }
html, body {height : 100%; width: 100%}

.container {
    height: 500px;
    /* width: 500px; */
    background: beige;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    align-content: start;
    /* justify-content: space-between; */
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid brown;
    margin: 2px;
    padding: 2px;
    /* align-self:flex-end; */
}

#box1 {
    background: lightblue;
    /* order: 4;
    flex-shrink: 4; */
    /* flex-basis: 200px; */
}

#box2 {
    background: lightgreen;
    /* order: 2; */
    
}

#box3 {
    background: lightyellow;
    /* flex-grow: 4; */
}

#box4 {
    background: lightcoral;
}

/* Media Query for screens wider than 640px */
@media (min-width:640px) {
   .container {
    flex-direction: row;
   }
}
   /* Media Query for screens smaller than or equal to 640px */
   @media (max-width:640px) {
    .container {
        flex-direction: column;
    }
   }