* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
html, body {
    height : 100%; 
    width: 100%
}

:root {
    --background-color: #e8f0f8;
        --text-color: #2C2F33;
        --secondary-color: #AEB7C0;
        --border-color: #D2D6DA;
        --blue: #0071FF;

        --background-color-dark: #1C2A3B;
        --text-color1-dark: #FFFFFF;
        --text-color2-dark: #363D44;
        --secondary-color-dark: #34495E;
        --border-color-dark: #2C3E50;
        --black: #121416;
}

.container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 1rem;
}

nav {
    position: sticky;
    background: #000;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    
    height: 4rem;
    font-family: "Poppins";
}

.logo{
    margin-right: auto; /* Adjusted to allow space for the rest */
}

.logo a img {
    width: 3rem;
    border-radius: 2rem;
}


/* Navigation Links */

nav .nav-section {
    display: none;
    gap: 0.5rem;
    list-style: none;
}

.nav-section a {
    margin-right: 1.7rem;
}

nav .nav-bars {
    text-decoration: none;
    color:  #2C2F33;
}


nav .checkbtn {
    text-align: center;
    color: var(--text-color);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    display: none;
}

nav #check {
    display: none;
}

nav .search-icon {
    display: none;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    color: var(--text-color);
}



.search-box {
    margin-right: 1rem;
    background-color: var(--blue);
    border-radius: 0.3rem;
    width: 17.5rem;
    display: flex;
    align-items: center;
    
}

.search-box i {
    margin-left: 0.7rem;
    color: white;
}

.search-box input {
    width: 15rem;
    height: 1.8rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 1px solid #D2D6DA;
    padding: 0.5rem;
    outline: none;
    font-family: 'Poppins';
}


.account a i {
    color: #2C2F33;
}


.nav-icon {
    display: none;
    gap: 2rem;
    
}

.nav-icon span {
    transition: all 0.3s ease;
}

.nav-icon span:hover {
    transform: scale(1.3);
}

@media (min-width: 470px) {


    nav .nav-bars {
        text-decoration: none;
        color:  #2C2F33;
        transition: all 0.3s ease;
    }
    
    .nav-bars:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 470px) {
    nav .search-icon {
        display: block;
        margin-right: -0.5rem;
    }


    .nav-icon span{
        display: none;
        
    }

    nav .checkbtn {
        display: block;
        z-index: 3;
        
    }

    .nav-section a {
        padding: 1rem;
        transition: background-color 0.3s ease;
    }

    .nav-section a:hover {
        background-color: var(--blue);
    }

    nav .nav-section {
        position: absolute;
        top: 4rem;
        right: -100%;
        display: flex;
        flex-direction: column;
        width: 50rem;
        height: 100vh;
        background-color: white;
        z-index: 2;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    #check:checked ~ .nav-section {
        right: 0;
    }

}

@media (min-width: 850px) {
    nav .nav-section {
        display: flex;
        
    }

    .nav-section a {
    transition: all 0.3s ease;
    }

    nav .nav-section a:hover {
        transform: scale(1.1);
    }
}


@media (max-width: 850px) {

    nav .search-icon {
        display: block;
    } 

    .nav-icon {
        display: block;
        margin-top: 0.5rem;
        text-align: center;
    }

    .nav-icon span {
        margin-right: 2rem;
    }


    .search-box {
        display: none;
    }

    .account {
        margin-left: 1rem;
    }

}