/* General Reset and Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Poppins, 'Segoe UI', Tahoma, sans-serif;
}

/* Root Variables */
:root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

/* Container Styles */
.container {
    background: var(--color-1);
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.logo {
    font-family: "Dancing Script", cursive;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px red;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

nav {
    height: 55px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}

.links_container {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Link Styles */
a {
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.3s ease;
}

a::after {
    content: "";
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

a:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

/* Search Icon and Input */
#search {
    display: flex;
    align-items: center;
    top: 20px;
    position: relative;
}

#search_icon {
    display: flex;
    color: #006aff;
    align-items: center;
}

/* Sidebar Toggle Icons */
.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none; /* Hidden by default */
}

/* Responsive Design for Smaller Screens */
@media (max-width: 750px) {
    .links_container {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 60px;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: right 0.75s ease-out;
    }

    .open-sidebar-button {
        margin-top: 15px;
        color: #006aff;
        display: block; /* Show the menu icon */
    }

    .close-sidebar-button {
        display: none; /* Show the close icon */
        color: #006aff;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button ~ .links_container {
        right: 0;
    }
}
